<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Debugging flags -->
  <arg name="rviz_config"          default="$(find field_local_planner_ros)/config/rviz/view.rviz"/>

  <!-- Include common launch -->
  <node pkg="rviz" type="rviz" name="field_local_planner_rviz" output="screen" args="-d $(arg rviz_config)"/>

</launch>
