<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Arguments -->
  <arg name="twist_topic" default="/joy_twist"/>

  <!-- Teleop -->
  <include file="$(find teleop_twist_joy)/launch/teleop.launch">
    <arg name="config_filepath" value="$(find locally_reactive_controller)/config/teleop_twist_joy/xbox.config.yaml" />
    <remap from="/cmd_vel"      to="$(arg twist_topic)"/>
  </include>
</launch>
