<?xml version="1.0" encoding="utf-8"?>

<launch>

  <include file="$(find pcl_tools_drs)/launch/downscale_cloud.launch">
   <arg name="input_topic"       value="/locally_reactive_controller/collision_map" />
   <arg name="output_topic"      value="/locally_reactive_controller/collision_map/decimated" />
   <arg name="frequency"         value="1" />
  </include>

  
  <node pkg="extrm_utils" type="compress_elevation_map" name="compress_collision_map" output="screen">
   <param name="input_topic"    value="/elevation_mapping_lidar/elevation_map_filtered"/>
   <param name="output_topic"   value="/elevation_mapping_lidar/collision_map_compressed"/>
   <param name="frequency"      value="1"/>
   <param name="layer"          value="normal_z"/>
  </node>

</launch>
